services:
  next-app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    environment:
      NEXT_PUBLIC_APP_URL: ${NEXT_PUBLIC_APP_URL}
      NEXT_PUBLIC_ENVIRONMENT: ${NEXT_PUBLIC_ENVIRONMENT:-development}
    ports:
      - 3000:3000
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - db
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.moneyger.rule=Host(`russsl.pl`)"
      - "traefik.http.routers.moneyger.entrypoints=websecure"
  db:
    image: postgres:14
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_HOST: ${POSTGRES_HOST}
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data
  memcached:
    image: memcached:1.6
    ports:
      - 11211:11211
volumes:
  pgdata: