name: Staging Deploy

on:
  workflow_dispatch:

jobs:
  staging:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref_name }}

      - name: Extract short SHA
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Login to Docker registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.REG_URL }}
          username: ${{ secrets.REG_USER }}
          password: ${{ secrets.REG_PASS }}

      - name: Build & Push staging image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile
          push: true
          build-args: |
            NEXT_PUBLIC_APP_URL=https://staging.moneyger.dev
            NEXT_PUBLIC_ENVIRONMENT=staging-${{ steps.vars.outputs.sha_short }}
          tags: |
            ${{ secrets.REG_URL }}/moneyger:staging-latest
            ${{ secrets.REG_URL }}/moneyger:staging-${{ github.ref_name }}-${{ steps.vars.outputs.sha_short }}