name: Staging Deploy

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to deploy to staging"
        required: true
        type: string
        default: "main"

jobs:
  staging:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch }}

      - name: Extract short SHA
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Login to Docker registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.REG_URL }}
          username: ${{ secrets.REG_USER }}
          password: ${{ secrets.REG_PASS }}

      - name: Build & Push staging image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile
          push: true
          tags: |
            ${{ secrets.REG_URL }}/moneyger:staging-${{ github.event.inputs.branch }}-${{ steps.vars.outputs.sha_short }}